.container{
  display:flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-top:10%;
}
body{
  background-color: #262626;
}
img {
  max-width: 100%;
  width: 30%;
  height:auto;
  
}

.shrink{
  animation: anim 1.2s ease-in-out forwards;
}

@keyframes anim{
 100% {transform:translateX(-100%) scale(55%);}
}